<h2 mat-dialog-title>Book Details</h2>
<mat-dialog-content class="mat-typography">
  <h1>Book name: {{book.name}}</h1>
  <p>ISBN #: {{book.isbn}}</p>
  
  <h2>Authors: {{book.authors}}</h2>
  
  <h3>Publisher: {{book.publisher}}</h3>
  
  <h3>Release date: {{book.released | date:'full'}}</h3>
  
  <h2>Main Characters</h2>
  <app-character *ngFor="let character of book.povCharacters" [characterUrl]="character"></app-character>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
