<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <h1> pick an open api</h1>
      <p>(https://anapioficeandfire.com/) to prepare a SPA with Angular.</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <h1> goals:</h1>
      <p> -app should have list(s), detail(s) and a favorite(s) pages,</p>
      <p> visitor should be able to add/remove any item to favorites page.</p>
      <p> -list page should have a quick search bar in order to filter items.</p>
      <p>-provide a github/bitbucket repository which we can access.</p>
      <p>-prepare a read.me file for the repository containing technical details and how to serve/run it.</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <h1> the nice to have:</h1>
      <p> -design a landing page for app according to your taste.</p>
      <p>-pagination/lazy loading for list page</p>
      <p> -build an authentication module which will be let visitors to signup(in) to app with nodejs.</p>
      <p>-build the app in accordance with the TDD approach.</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
    
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
