<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <h1> pick an open api</h1>
      (https://anapioficeandfire.com/) to prepare a SPA with Angular.
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <h1> goals:</h1>
      -app should have list(s), detail(s) and a favorite(s) pages,
      visitor should be able to add/remove any item to favorites page.
      -list page should have a quick search bar in order to filter items.
      -provide a github/bitbucket repository which we can access.
      -prepare a read.me file for the repository containing technical details and how to serve/run it.
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <h1> the nice to have:</h1>
      -design a landing page for app according to your taste.
      -pagination/lazy loading for list page
      -build an authentication module which will be let visitors to signup(in) to app with nodejs.
      -build the app in accordance with the TDD approach.
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
    
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
