<table matSort matSortDirection="desc" mat-table [dataSource]="data" class="mat-elevation-z8 list">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> NAME </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="region">
    <th mat-header-cell *matHeaderCellDef> REGION </th>
    <td mat-cell *matCellDef="let element"> {{element.region}} </td>
  </ng-container>
  <ng-container matColumnDef="words">
    <th mat-header-cell *matHeaderCellDef> WORDS </th>
    <td mat-cell *matCellDef="let element"> {{element.words}} </td>
  </ng-container>
  <ng-container matColumnDef="coatOfArms">
    <th mat-header-cell *matHeaderCellDef> COAT OF ARMS </th>
    <td mat-cell *matCellDef="let element"> {{element.coatOfArms}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row matRipple *matRowDef="let row; columns: displayedColumns;" (click)="handleRowClick(row)"></tr>
</table>
<mat-paginator [pageSize]="PAGINATOR_ENUM.ITEMS_PER_PAGE" [length]="PAGINATOR_ENUM.ITEMS_LENGTH"></mat-paginator>
