<ng-container *ngIf="data$|async; else matSpinner" >
  <table mat-table
    [dataSource]="data$"
    class="mat-elevation-z8 list">
    <ng-container matColumnDef="name">
      <th mat-header-cell
        mat-header-cell
        *matHeaderCellDef> NAME
      </th>
      <td mat-cell
        mat-cell
        *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="authors">
      <th mat-header-cell
        mat-header-cell
        *matHeaderCellDef> AUTHORS
      </th>
      <td mat-cell
        mat-cell
        *matCellDef="let element"> {{element.authors}} </td>
    </ng-container>
    <ng-container matColumnDef="country">
      <th mat-header-cell
        mat-header-cell
        *matHeaderCellDef> COUNTRY
      </th>
      <td mat-cell
        mat-cell
        *matCellDef="let element"> {{element.country}} </td>
    </ng-container>
    <ng-container matColumnDef="publisher">
      <th mat-header-cell
        mat-header-cell
        *matHeaderCellDef> PUBLISHER
      </th>
      <td mat-cell
        mat-cell
        *matCellDef="let element"> {{element.publisher}} </td>
    </ng-container>
    <tr mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
      matRipple
      *matRowDef="let row; columns: displayedColumns;"
      (click)="handleRowClick(row)"></tr>
  </table>
</ng-container>

<ng-template #matSpinner>
  <div class="centered" style="height: 100vh">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
