<mat-toolbar color="primary" class="mat-toolbar_space">
  <div class="toolbar-title">
    <button mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon mat-list-icon>menu</mat-icon>
    </button>
    <span>PROGaming assignment</span></div>
  <span class="spacer"></span>
  <div class="toolbar">
    <button mat-flat-button
      color="primary"
      routerLink="about"
      routerLinkActive="mat-accent">About
    </button>
    <button mat-flat-button
      color="primary"
      routerLink="books"
      routerLinkActive="mat-accent">Books
    </button>
    <button mat-flat-button
      color="primary"
      routerLink="houses"
      routerLinkActive="mat-accent">Houses
    </button>
    <button mat-flat-button
      color="primary"
      routerLink="characters"
      routerLinkActive="mat-accent">Characters
    </button>
    <button mat-flat-button
      color="primary"
      routerLink="favorites"
      routerLinkActive="mat-accent">Favorites
    </button>
  </div>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
