<table matSort mat-table [dataSource]="data" class="mat-elevation-z8 list">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> NAME </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> GENDER </th>
    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
  </ng-container>
  <ng-container matColumnDef="father">
    <th mat-header-cell *matHeaderCellDef> FATHER </th>
    <td mat-cell *matCellDef="let element"> {{element.father}} </td>
  </ng-container>
  <ng-container matColumnDef="mother">
    <th mat-header-cell *matHeaderCellDef>MOTHER</th>
    <td mat-cell *matCellDef="let element"> {{element.mother}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row matRipple *matRowDef="let row; columns: displayedColumns;" (click)="handleRowClick(row)"></tr>
</table>
<mat-paginator [pageSize]="20" [length]="450"></mat-paginator>
